[2019-01-16 15:25] rockfight opened #1 "How do you use this component ?"
I cannot understand from the example. Suppose I want to scroll content inside a `<div>` and I already have 20 contents that I want to scroll. How do I use it ?

[2019-01-16 15:36] AndreasFaust commented on #1
The example-page for react-ticker is still a placeholder. A good documentation is in development. The whole project just started!
About your question: Are your content-elements static or do you want to load them from an API?
Do you want to chain them or should only one element be visible at once?

[2019-01-17 06:52] rockfight commented on #1
My elements are similar to stock ticker that will come from an API.

[2019-01-18 13:59] AndreasFaust commented on #1
I'll provide you a working example today.
I am working on the docs right now.

[2019-01-24 12:43] mengidd opened #2 "Can't get it to work as described"
When I'm using this component as described it just returns a div with a 0 inside of it.

I tried various things always with the same result. A few of my attempts that I think should work according to the examples and the descriptions.
[code]
or
[code]

This is what's rendered:
[code]

Using React 16.7.

[2019-01-24 13:00] AndreasFaust commented on #2
That's strange. React 16.7 works, at least here in my testing environment. Did you load react-ticker from npm?
By the way: The Render-Function-Argument has to be destructured (curly braces): `({ index })`.

[code]

[2019-03-26 16:46] seckinbrke commented on #2
same issue :)

[2019-03-26 18:56] MichaelTao commented on #2
Having the same issue too. Gatsby V2

[2019-03-27 13:49] AndreasFaust commented on #2
I tried to reproduce this error with Gatsby V2 dev, build and serve, but it just works.
Please provide some information about your module-configuration, dev-environment and package.json.

[2019-03-31 23:07] MichaelTao commented on #2
I'm fairly new to react so bare with me.

I created a blank Gatsby V2 and loaded the plugin and it works. I am trying to create a currency ticker. So I created a component called webticker.js.

import React, { Component } from "react"
import Ticker from 'react-ticker'
import axios from "axios"
import { Icon } from "tabler-react"

const flexContainer = {
  height: '100px',
  background: '#000',
  c

[2019-04-02 14:11] AndreasFaust commented on #2
Try the following piece of code.

[code]

[2019-04-02 14:21] AndreasFaust commented on #2
I hope, you are familiar with the new Hooks API. I would strongly recommend to use it, because it makes things much easier. Here is the explanation of the code above:
- React Ticker calls its function-as-child anytime it runs out of content. It does not matter, if this function is a static component or a component, that loads content from an API.
- Important is, that you provide a placeholder duri

[2019-04-02 16:25] AndreasFaust commented on #2
I have updated the documentation by including the above example. The example in the docs differs from this example in loading a whole array of rates at once.

[2019-04-02 16:26] MichaelTao commented on #2
Thank you for your explanation and examples! I'm going to give this a try and report back.

[2019-04-22 04:25] #1 closed

[2019-04-30 16:52] mckelveygreg opened #4 "Issue dynamically changing direction"
Hey!
This is so close to the solution I need, but I'm having trouble. I have `<Ticker move={move} direction={direction}>` set with dynamic direction and move props that are changed by hover events. Starting and stopping work great, but when it changes direction, the whole ticker starts over instead of just changing direction.

Is that something this can do?

[2019-04-30 17:01] AndreasFaust commented on #4
Hello! Without further investigation I would say: I'm afraid it can't. I've built it for a job, which did not need this flexibility. But give me a little time, to see what I can do.

[2019-04-30 17:04] mckelveygreg commented on #4
Thanks for getting back to me! (I'm currently trying to get something working for a job 💯 ) I was hoping it would just be a +=/-= type thing... But I'm not sure how you make it loop so well!
Regardless, thanks for posting things you've built for others to use/look at!!

[2019-04-30 17:10] AndreasFaust commented on #4
The code was build without the blessings of context and hooks, so it looks rather verbose. It animates every element seperately, which I don't know, if that's a good idea: theoretically it brings more flexibility, but is also much more complex to observe, than putting the elements into a wrapper and animate this.

[2019-05-10 23:11] joebentaylor opened #5 "Cant render Ticker"
index.es.js:289 Uncaught TypeError: _this.props.children is not a function

this is my code:
`<Ticker>
                    {this.props.logos.map((block) => (
                        <Logo key={block.id}>
                            <img src={block.url} alt={block.alt} />
                        </Logo>
                    ))}
</Ticker>`

[2019-05-10 23:19] AndreasFaust commented on #5
You need to render a function-as-child.
Try this (not tested):
``
<Ticker>
  {() => (
    this.props.logos.map(block => (
      <Logo key={block.id}>
        <img src={block.url} alt={block.alt} />
      </Logo>
    )
  )}
</Ticker>
``

[2019-05-29 13:16] seanes commented on #2
I tested your example with React 16.8.6 and it too only renders 0.

[2019-06-02 17:42] #4 closed

[2019-06-24 23:51] jjwallace commented on #2
I am also just getting a 0 rendered

[2019-06-25 09:39] AndreasFaust commented on #2
Please provide some information about your setup. The best way to solve this together would be a test-repo.

[2019-06-27 17:31] #5 closed

[2019-07-07 13:13] MedvedevWeb commented on #2
This problem is caused by the zero width of the container (`div.ticker`).
You need just adding something like `.ticker { width: 100%; }` in your css.

[2019-08-18 14:33] milehighhokie opened #8 "Resizing screen with long string causes multiple lines"
First - Nice job on this!  I feel bad for being whiny

Now to pour the whine...
If I start with a large screen and a large string (over 100 characters) and then resize the screen to be smaller, then text then appears on multiple lines.  Additionally, if height is specified, you might not see the extra lines if they are beyond the space you requested.

![Untitled](https://user-images.githubusercont

[2019-08-18 14:38] AndreasFaust commented on #8
Thank you! Have you tried to set `white-space: nowrap;` on the text-container?
Additionally I have to admit, that resizing is not handled ideally. I've created this project for a job and the status quo was just good enough in this context.

[2019-08-18 14:52] milehighhokie commented on #8
<h1 style={{ whiteSpace: "nowrap" }}> did the trick!  Thank you for the work and the quick response.  I'll close this since that is a working solution.

[2019-08-18 14:52] #8 closed

[2019-11-18 01:45] AllanPooley opened #10 "Ticker stops functioning when browser tab isn't active"
Hey @AndreasFaust thanks for creating this package.

I'm using it on a 404 page for a site I built: https://www.wagec.org.au/404

It works great:

![image](https://user-images.githubusercontent.com/9204586/69018552-1c0bc580-0a01-11ea-9ea3-94664d7e57f4.png)

The only slightly odd behaviour is that the animation / rendering stops when the tab isn't visible on the screen, creating situations like thi

[2019-11-23 16:15] ololoepepe commented on #10
**TL;DR** _(It seems to me that)_ there is no quick and easy way to fix this.
It must be something to do with `setTimeout`-like functions. As I can see, here https://github.com/AndreasFaust/react-ticker/blob/master/src/Element.js#L168 `requestAnimationFrame` is used, which is stopped when a window or tab blurs, see https://stackoverflow.com/questions/15871942/how-do-browsers-pause-change-javascrip

[2019-11-23 16:25] AndreasFaust commented on #10
Have you tried to completely destroy and re-initialize `react-ticker` when the user comes back to the tab?
Use this API: https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API

[2019-11-23 16:44] ololoepepe commented on #10
@AndreasFaust Should we? Why not just use `.animate` for animation and `setTimeout` for checking/calling `triggerNext`?

[2019-11-23 16:57] AndreasFaust commented on #10
If you mean this API: https://developer.mozilla.org/en-US/docs/Web/API/Element/animate
It is not supported by all browsers yet: https://caniuse.com/#search=element.animate

[2019-11-24 08:01] ololoepepe commented on #10
@AndreasFaust Polyfills exist for that purpose. Or, if it seems an overkill, just insert animation with some generated unique id into a style tag.

Well, OK, at least we can encapsulate that visibility API stuff in the lib. That's a 100% common case, so it should be handled.

[2019-11-24 18:42] AndreasFaust commented on #10
Thank you for the suggestions. Unfortunately I have other priorities at the moment. If you’ll find the time, I am looking forward to receive a pull request from you, which will be merged quickly.

[2019-11-25 21:08] AllanPooley commented on #10
Thanks for the input @ololoepepe @AndreasFaust

[2019-12-14 12:58] mrclay commented on #10
Not rendering the ticker when the document is made hidden indeed works great.

I’m hoping to release a useDocVisible hook for this purpose soon.

[2019-12-14 23:58] Matthew-Cameron opened #11 "how to use this with a static array"
Say I have an array that looks like the following {WFC, JNJ, MSFT, FB}. How do I properly get these array elements to render?

Currently if I just put the array in a p tag, each Ticker element looks like:
WFCJNJMSFTFB    WFCJNJMSFTFB    WFCJNJMSFTFB......

If I do a map on each array element and render each map element in a p tag. It creates an entire new Ticker row. ex:
WFC    WFC    WFC....
JNJ

[2019-12-17 12:39] ololoepepe commented on #11
Please post a minimal snippet so we can see what's going on.

[2019-12-18 00:55] Matthew-Cameron commented on #11
Hi, thanks for the quick response.
First p tag corresponds to the first example above, and the commented code corresponds to the second example above. I understand why the map is rendering multiple Ticker rows. What I am after I feel like definitely corresponds to the uncommented portion.

props.account.getSymbols() = {WFC, JNJ, MSFT, FB}

`<Ticker className="stockSlider" speed={2}>
            {(

[2019-12-19 00:28] thriceAmbo commented on #10
Got around this issue by using https://www.npmjs.com/package/react-page-visibility

I'm using React Hooks but easy to update if you're not using them.

Updating original example from docs:

[code]

[2019-12-19 07:20] ololoepepe commented on #11
So, I think you should do something like this:

[code]

As stated in the README, "React Ticker calls its function-as-child anytime it runs out of content." That means, like, it says: "I need more stuff to render, please give me something", and you should provide the next element then.
The `index` is incremented continuously. If you do the `index % symbols.length` trick, the result will always be i

[2019-12-20 02:53] AllanPooley commented on #10
Thanks @thriceAmbo, this work around works!

[2019-12-20 10:58] AndreasFaust commented on #10
Thanks all of you for working this out!
I will remark this workaround in the docs and consider it for my planned rewrite of `react-ticker`.

[2019-12-20 10:58] #10 closed

[2019-12-26 07:47] ololoepepe commented on #10
@thriceAmbo One should use `blur`/`focus` events instead of `visibilitychange`. `visibilitychange` only fires when switching between tabs, but does not fire when the tab is active and you put your browser to background. `blur`/`focus` do fire in both scenarios.

[2020-01-21 13:52] suraj-kawale-au2 opened #12 "Using Ticker with dynamic data."
Here I have tried to implement react-ticker using dynamic data of some cryptos. But for some reason, it doesn't move. If I give it a fixed width then only it moves but overlaps some values. For that, I have to adjust the width for every new update in API. Is there some way to solve this?

codesandbox : https://codesandbox.io/s/funny-night-kshog
output : https://kshog.csb.app/

[2020-01-22 11:06] AndreasFaust commented on #12
Just take this example as a starting point and it will work.

[code]

[2020-01-29 12:16] suraj-kawale-au2 commented on #12
I have seen this example everywhere and tried it several times. But doesn't work.

[2020-01-29 12:55] AndreasFaust commented on #12
Replace the empty `div` in TickerItems by `<p style={{ visibility: "hidden" }}>Placeholder</p>` and it will work.

[2020-01-29 12:59] suraj-kawale-au2 commented on #12
Yes. It worked. But how?

[2020-01-29 13:04] AndreasFaust commented on #12
It has to do with the `Mutation Observer`, which seemingly does not work with empty `divs`.

[2020-01-29 13:09] AndreasFaust commented on #12
When the elements are loaded, the observed element is changed and the width of this changed element is calculated. `react-ticker` observes when this element will be vanishing from the viewport and calls the function, which generates a new placeholder, which will be replaced by loaded elements and so on.

[2020-01-29 13:10] AndreasFaust commented on #12
If this answer and `react-ticker` are helpful for you, please consider supporting my open-source-work by staring this library. Have a nice day!

[2020-01-29 13:10] #12 closed

[2020-02-10 16:21] valerioleo opened #13 "Distance between boxes is not always homogeneous"
Hey @AndreasFaust, thanks for the great library, it does exactly what we were looking for.

At the same time, I have noticed that the boxes don't always have the same distance one to another as you can see from the following image. It is very subtle, but the first gutter is slightly bigger than the second:
![image](https://user-images.githubusercontent.com/13155741/74168088-1fd66f00-4c21-11ea-807b

[2020-02-15 08:51] barun1997 commented on #11
@ololoepepe  Thanks for your response! Exactly what I needed. I just wanted to quickly point out, you should include (index) in curly brackets: ( {index} ) for it to work.

[2020-02-15 22:09] Matthew-Cameron commented on #11
@barun1997 Hey would you mind showing me exactly what you did? I cant get it to work no matter what I do.

[2020-02-17 10:22] barun1997 commented on #11
Hi @Matthew-Cameron , sorry for the late reply.

I implemented what @ololoepepe  suggested.

For instance, if my array is:

[code]

**I implemented the following in my React function:**

[code]

I desired the following effect in my implementation:

![Works](https://user-images.githubusercontent.com/19339044/74645189-8e767800-519f-11ea-8b34-9b1ce7177e3d.gif)

Do let me know if you have any question

[2020-02-17 23:51] Matthew-Cameron commented on #11
@barun1997 Thank you so much!! This is exactly what I had but adding in the curly brackets around index made it work! I had given up on it but it now is working like a thing of beauty!

@ololoepepe Thanks for the help! I love what you have made!

[2020-02-17 23:51] #11 closed

[2020-03-07 22:03] arhoy opened #14 "fade in out effect and adjust the speed"
Hello I am trying to create a fade in and out effect like so
https://www.netlify.com/

I would also like to adjust to speed. How can I do this?

[2020-03-09 11:33] AndreasFaust commented on #14
That is easy. Just use pseudo-elements to paint gradients on each side of your ticker-container.

[code]

The Ticker-Speed can be controlled via the `speed`-prop, like described in the docs.

If this answer and `react-ticker` are helpful for you, consider supporting my open-source work by giving this library a star.

[2020-03-09 19:21] arhoy commented on #14
Wonderful! Thank you!

[2020-03-09 20:22] arhoy commented on #14
Here is my full code::

[code]

[2020-03-11 12:28] AndreasFaust commented on #14
Can you provide a CodeSandbox, please?
https://codesandbox.io/

[2020-03-12 00:40] Andy1408 opened #15 "Real time ticker possible?"
Hi, I'm trying to implement the ticker but with real time data, I'm getting the data correctly and trying to pass it to the component used as children in props.

First time works ok but then children components stop calling componentWillReceiveProps. Here is my code:

**Ticker Father component:**

`<Ticker>
                    {({ index }) => (
                      <div
                        st

[2020-03-12 12:53] AndreasFaust commented on #15
In general it should be possible. Please provide a CodeSandbox.
https://codesandbox.io/

[2020-03-13 11:15] martellapetesso opened #16 "last element stay => after reload bug is fixed"
Hello everybody,

i have the problem that on the first start, the last element stay. After i reload the screen or switch the tabs, the bug is away and all is perfect. (look the gif)

![react-ticker-bug](https://user-images.githubusercontent.com/48688668/76616318-0d06d100-6524-11ea-9510-b628f4cd4a88.gif)

[2020-03-13 14:22] AndreasFaust commented on #16
Hello! Please provide a CodeSandbox to reproduce the error.
https://codesandbox.io/

[2020-03-13 14:38] martellapetesso commented on #16
Unfortunately i cant reproduce the error:

[CodeSandBox](https://codesandbox.io/s/old-leaf-7n7r2)

in this case it work well. And it is exactly the same code only with other icons. Any idea what it can be?

[2020-03-13 14:40] AndreasFaust commented on #16
Try to set the ticker-container to `overflow: hidden;`.

[2020-03-13 14:48] AndreasFaust commented on #16
If this answer and react-ticker are helpful for you, consider supporting my open-source work by giving this library a star.

[2020-03-13 15:09] martellapetesso commented on #16
Dont work with overflow: hidden. Nevertheless the star is given.

[2020-03-13 15:26] AndreasFaust commented on #16
Thank you very much!
Which `react`-version and which dev-environment do you use?
Have you tried to render a `production` build and checked whether the problem persists?

The bug must originate from a very special configuration. The library has been downloaded 45.000 times and this is the first time we experience this bug.

[2020-03-16 09:34] martellapetesso commented on #16
I have React Version 16.9. in my project. And yes i have tried as production build, same problem. I dont know what configuration it can be. I have wrapped the complete page in a Grid from Material ui. Is it possible, that this is the problem?

[2020-03-17 00:28] AndreasFaust commented on #16
I assume, the problem originates from the container-width, which is not finally set when the ticker is initiated. Can you try to defer the ticker-initialisation by, let’s say, 1000 milliseconds?

But as long as we can’t reproduce the bug, I can just guess, unfortunately. Could you try setting up React 16.9, the Material-Grid, as well as your original Image-Sources in the Sandbox to hopefully creat

[2020-03-17 10:24] martellapetesso commented on #16
It works when i defer the ticker-initialisation with 500 ms. Thank you very much!

I have in the CodeSandBox now exactly the same dependencies and the same layout with material ui grid and so on. The versions are also the same.

[2020-03-17 11:13] AndreasFaust commented on #16
But the bug does not show up in the Sandbox, doesn’t it?
At least we seem to know now, that the bug originates from a parent component, that takes some time to initialize and render, which interrupts the rendering of the ticker.

I would now remove one parent component after another, trying to isolate the bug source. And after that you will have to find an event or callback, to initialize the tick

[2020-03-17 11:15] martellapetesso commented on #16
Yes it doesn´t show the bug in Sandbox. Yeah you are right. Let us close the issue. And thanks for the component.

[2020-03-17 11:15] #16 closed

[2020-03-17 11:33] AndreasFaust commented on #16
You’re welcome!

[2020-04-01 20:31] mikel-js opened #18 "Rendering an array, I want ticker to show one content at a time."
Hi, here is my code

function FactsTicker() {
  const updates = [
    { info: "1" },
    { info: "2" }
  ]
  return (
    <>
      <h3 style={{ color: 'black' }}>Did you know?</h3>
      <Ticker mode='await' speed={20} offset="run-in" style={{width: '100%', overflow: 'hidden'}}>
        {() => (
          <>
            <h5>
              {updates.map((update) => (
                 {update.info}

[2020-04-05 12:42] jdrichardstech commented on #2
Thanks @MedvedevWeb. I added the css and it worked perfectly.

[2020-04-16 14:05] peduarte opened #19 "Sticky item when using direction="toRight""
Hey @AndreasFaust

Thanks for putting this neat little library together. Im finding it super useful.

I'm prototyping something and I've created to strips of content using react ticker. One of them animates to the left and one to the right

Here's a Codesandbox: https://codesandbox.io/s/react-ticker-bug-igjc8?file=/src/App.js

![image](https://user-images.githubusercontent.com/372831/79465599-db3d

[2020-04-25 13:29] joshuatuscan commented on #2
I'm still getting a rendered 0 and have all elements inside the ticker with 100% width. I've tried testing static text as well. The craziest thing is that I have it running in another component and it works fine, but I can't get the second instance to render anything except 0.

[2020-04-27 11:47] Macke97 opened #20 "IE11 Expected ':'"
IE 11 fails with version 1.2.2, which broke our whole site. The issue seems to be related to the ES6 property shorthand which IE doesn't seem to like.

See screenshot
![image](https://user-images.githubusercontent.com/22647302/80368620-4c4b7000-888d-11ea-9c2f-ec061cdfea03.png)

[2020-04-27 12:42] #20 closed

[2020-05-07 10:44] haminhkien1998 commented on #2
In case you are still getting a rendered 0 although edited your css, I have a solution for this issue.
Why react-ticker return 0? Because the `offsetWidth` value is 0. You can file it in source code of react-ticker. (I think you should download source code and use it instead of installing by `npm`)

`
componentDidMount = () => {
      this.setState({
        width: this.tickerRef.current.offsetWid

[2020-06-18 08:57] ShiraNeuman opened #22 "Vertical ticker"
Hi,
This is really good ticker for horizontal ticker,
but for my project, I need a vertical replacement for the marquee from html.
I search all over the internet and didn’t see anyone who did it good, and because your component is one of the best I've seen, It will be really great if it would support vertical also.
Thanks in advance.

[2020-06-24 20:18] nagarajanchinnasamy opened #23 "index parameter is not reset for every iteration"
As per the below example code:

`const MoveStuffAround = () => (
    <Ticker>
        {({ index }) => (
            <>
                <h1>This is the Headline of element #{index}!</h1>
                <img src="www.my-image-source.com/" alt=""/>
            </>
        )}
    </Ticker>
)`

I expected that the `index` value will be reset based on the number of children elements inside `<Ticker>`.

[2020-06-24 20:28] nagarajanchinnasamy commented on #23
The code I have:

    // Notice the need for modulus operator
    const getMessage = i => {
        const messages = [
            "message-0",
            "message-1",
            "message-2",
        ]
       console.log("Value of i is: " + i%messages.length)
       return (
           <>
               <div style={{ marginRight: "1rem" }}>
                   <p style={{ whiteSpace: "nowrap", co

[2020-06-26 07:58] PraveenRanjan commented on #2
If possible, Can you please provide an example where API returns whole array instead of one item on each call. In my case, I have list of items which I want to show one after another using mode=await.

[2020-06-26 08:01] PraveenRanjan commented on #2
NoT really sure how to use this ticker if I have array of items that should appear as soon as the previous one has disappeared. It would be great if you can provide some examples.

[2020-06-26 08:04] PraveenRanjan commented on #18
Hi, DId you get a solution for this problem?

[2020-06-26 09:54] PraveenRanjan commented on #23
Hi, Did you get any solution?

[2020-06-26 10:33] AndreasFaust commented on #23
You are right: `index` is a continuous counter, which has no relation to the elements itself. It just counts the event, `react-ticker` orders a new element. This is not mentioned in the docs so far, which needs to be changed.

[2020-06-26 12:43] PraveenRanjan commented on #23
I wrote a method that returns only one item from the list at a time. Used state to check and reset if list reach to last element.  See my solution here:

import React, { useState } from "react";
import Ticker from "react-ticker";
import PropTypes from "prop-types";

const TickerComponent = props => {
  const [count, setCount] = useState(0);
  const getNewsItem = () => {
    if (count < props.data.

[2020-06-26 12:46] PraveenRanjan commented on #18
I found the solution:

I wrote a method that returns only one item from the list at a time. Used state to check and reset if list reach to last element. See my solution here:

import React, { useState } from "react";
import Ticker from "react-ticker";
import PropTypes from "prop-types";

const TickerComponent = props => {
const [count, setCount] = useState(0);
const getNewsItem = () => {
if (count

[2020-06-28 04:06] mikel-js commented on #18
Hi Praveen, yes, I found the solution, almost similar as yours. Thank you anyways.

[2020-06-28 04:06] #18 closed

[2020-07-06 18:10] luliandro commented on #13
hi, I'm having the same issue.

did you manage to get it fixed?

[2020-09-10 16:22] kaushalandpoudel opened #24 "Ticker is not reponsive on window resize."
Hi @AndreasFaust, I am using ticker alongside a drawer. But when the drawer is closed I get this fixed overlapping text.

This is when drawer is opened:
![Untitled](https://user-images.githubusercontent.com/41232635/92761555-86875b00-f3b1-11ea-8327-c21b0d1bec2a.png)

And when the drawer is closed, some text of the ticker is stuck on the right side which is there for as long as the ticker is render

[2020-09-18 13:59] ololoepepe opened #25 "Alternative"
I have been using react-ticker for more than 6 months, but there are still some issues, eg. rendering when browser tab is in background (this has a workaround, but it is not perfect). So recently I've found https://github.com/mxmzb/react-marquee-slider which looks a better option for some cases. Maybe we can add a lint to this to the README as an alternative solution?

[2020-10-29 15:41] maximaub commented on #25
very complicated to use tho

[2020-10-31 04:10] ololoepepe commented on #25
@maximaub maybe that depends on your specific case. I only need this code to make it work:
[code]
where `Item` is anything component you want.

[2020-11-03 09:59] AnakinCNX opened #26 "Feature Request: Only scroll if content is wider than it's container"
This is a nice lib; thanks for sharing.

One feature that would be great is if the scrolling only occurs if the content is wider than it's container.

[React Native Text Ticker](https://www.npmjs.com/package/react-native-text-ticker) does a nice job with this.

[2020-11-03 10:03] AnakinCNX opened #27 "Feature Request: Pause between scrolls"
Another feature that would be great is if the scrolling could pause between scrolls.

For example, once the scroll returns to the original starting position, it waits a bit and then starts scrolling again.

This is similar to how long track titles are displayed in Apple Music and Spotify.

[React Native Text Ticker](https://www.npmjs.com/package/react-native-text-ticker) does a nice job with this.

[2020-11-09 08:52] tayteboss commented on #13
Hey, I have the same issue as well...

Any fixes on this?

[2020-11-09 15:56] matthewfamularo commented on #13
Same issue.

[2020-12-27 21:48] naemtl commented on #2
Hey, just wanted to let you know that your ticker is broken, I've tried working with the example you've provided and all I get is a "0" rendered like others have mentioned. Fix your library or take it down.

[2020-12-27 23:34] AndreasFaust commented on #2
Because the library does not work for you, @naemtl, or in some other cases, does not mean it’s broken. Switch to an [alternative](https://github.com/AndreasFaust/react-ticker/issues/25), program your own or provide a PR — rude commands like `Fix your library or take it down` are not acceptable.

[2020-12-27 23:50] naemtl commented on #2
It doesn't seem like you care to fix it, is all. This ticket has been open for several months and you haven't addressed the outstanding problem. I'm using the most recent version of React with nothing fancy. I plugged your Ticker component in and it renders "0", tried the example in the readme and got the same result. Leaving people who use your tools in the dark is rude, if you wanna talk about b

[2020-12-28 00:18] AndreasFaust commented on #2
It is impossible to fix any possible bug or edge case — this is just a bit too much demanded for a side-project, nobody pays anything for. I understand your temper, being confronted with software, that does not work (for you). But you have to understand that claiming `it does not work` without any information and giving orders is not helpful, too. Nevertheless: I did not leave you in the dark by p

[2020-12-28 01:44] naemtl commented on #2
It's hardly an edge case if the component doesn't work using a blank installation of React (v17.0.1), with a little bit of text and css thrown into it. I'd say your tool is most likely not compatible with the newest version of React, but considering this is a problem that was first brought to your attention nearly 2 years ago, it seems something else might be happening. I can show you my code if y

[2020-12-28 13:02] AndreasFaust commented on #2
For the record: Here’s the proof `react-ticker` is working with the latest `react`-version out of the box.
https://codesandbox.io/s/quizzical-lehmann-nqy7w
**No discussions anymore. From now on unfriendly requests and rude, unproved claims will be blocked unanswered.** Open-Source is not about ranting and giving orders; it’s about helping each other out and solving problems together in solidarity.

[2021-01-02 22:54] dowrow commented on #13
I believe this is caused by the component measuring the width of the content before the fonts are loaded at first render, or at least that was causing me this same issue.

My quick fix was to wrap a visibility observer around the <Ticker> like this:
[code]

[2021-02-27 23:57] HyBDev opened #28 "Move false when the ticker is not in view"
Hi!
I would like to know if it's possible to configure the ticker to stop moving when it's not in-view.

Thanks!

[2021-02-28 15:07] AndreasFaust commented on #28
Hello @HyBDev,
yes, you just need to use `Intersection Observer` to detect if the ticker’s container is in view or not and then modify the `move`-prop.
For a simple implementation of `Intersection Observer` I recommend this library: https://github.com/wellyshen/react-cool-inview

[2021-02-28 23:04] HyBDev commented on #28
Thanks for the reply! :)
I tried to do it with an update of the move prop but I think I do something wrong because even with a onClick event, it doesn't seems to work.

`const isClicked = () => {
        return click = true

    }

<Marquee onClick={isClicked}>
    <Ticker speed={12} height={80} move={click}>
                        {({ index }) => (
                            <>

[2021-03-07 18:06] samesamestudio opened #29 "Ticker vanishes after a while when leaving page"
Hi there!
Thank you for this ticker, I really love it.

However, I'm encountering the following problem:
When I have the page open, and just go to another tab and back to the page again after a few seconds, the ticker starts vanishing, almost as if the infinite loop and the ticker ends. So the ticker is gone and only reappears if I refresh the page.
I've tried adding more elements to the Ticker ar

[2021-03-15 04:01] isamersiam commented on #29
You can use page visibility as mentioned https://www.npmjs.com/package/react-page-visibility

[2021-03-17 09:56] goranurukalo commented on #29
Hey, after playing around a bit
i figure out how to make ticker stay as it is after your tab is inactive for while

the trick is that browsers freeze requestAnimationFrames and slows down setTimeout-s or setIntervals

so to make this work we need to change source code
the trick is in Element.js - when move prop gets truned off we need to cancel animation

`window.cancelAnimationFrame(this.raf);`

[2021-03-20 03:26] bennchong commented on #2
Had this issue when <Ticker> is not at the root of the React Component. Eg:
`<div>
  <Ticker>
     <p> hi </p>
  </Ticker>
</div>
`

Simple fix is to remove the parent div wrapper

[2021-03-24 23:24] isamersiam commented on #29
Can you share your code here, it looks like the pull request is still open! @goranurukalo

[2021-03-25 18:41] goranurukalo commented on #29
@isamersiam Hey, i wasn't able to make better example then this

https://codesandbox.io/s/react-ticker-visibility-test-vmyfi

So, i tried to use ticker via github as dependency but i failed in short time (sryyy)
This is basically my pull request in react-ticker folder with 3 changes

So locally u might be able to use it like i tried (check package.json and dependencies)
its much better then copy p

[2021-04-14 16:43] hewhowearspants commented on #24
I, too, have this issue. It appears that there is a duplicate `TickerElement` that does not scroll, and only appears if the ticker grows in width. I've patch-fixed it so that the second `.ticker__element` is `display: none` in the CSS, but it is still in the DOM

[2021-05-07 18:02] Sayak-0512 commented on #23
I don't have an elegant way to solve this, but I have found a way to solve the issue.

`
const post=[1,2,3,4,5];
function Outpu(){
return <Ticker height={120} speed={20} >
        {({ index }) => (
           <>
                <div style={{display: "none"}}>
                     {index=index%posts.length}
               </div>
             <div>
                 Your content here.
             </

[2021-05-21 10:12] timothydelter commented on #2
I couldn't get it working by setting the width of `.ticker` to 100%. So I added this to my React component and it worked

[code]

[2021-06-21 01:39] nont65 opened #31 "Has any event to check current display is completed?"
Hi, How can I check current display is run and disappear from screen?

[2021-07-29 21:30] knoll3 opened #32 "Add License"
Nice work. This project needs a license though. A repository without a license falls under the default copyright laws, meaning that you retain all rights to your source code and no one may reproduce, distribute, or create derivative works from your work. If that's what you're after then fine, but it should still have a license.

https://docs.github.com/en/github/creating-cloning-and-archiving-repo

[2021-07-29 21:31] knoll3 commented on #32
Saw the license at the bottom.

[2021-07-29 21:31] #32 closed

[2021-08-28 00:01] dhruv93 commented on #19
Hi! I am also facing a similar issue when direction is set to right. Is there a workaround for this?
Any help is appreciated.

Thanks,
Dhruv

[2021-09-02 19:42] razvanmitre commented on #29
The only fix I've found for this is remove the ticker entirely from the page when usePageVisibility() is false

[2021-10-03 02:15] beamercola commented on #29
I'm having same issue - changing tabs and back it disappears.  Here's my little component:

[code]

[2021-10-11 07:30] codeslon commented on #2
One of the ticker parent container must be 100% width when working with flex

[2021-11-07 20:19] codyscott1 opened #33 "resizing causes full crash with typeError: Cannot read properties of null (reading 'height')"
it takes quite a bit of resizing to get this to crash but eventually it happens.
![image](https://user-images.githubusercontent.com/58891378/140660725-caf8f3a9-71c6-44a5-ab8d-dd7b9c277368.png)
ticker code is [here](https://github.com/Shopify/hydrogen-examples/blob/master/shopify_supply/src/components/TickerTape.client.jsx)
setting a hardcoded height param _may_ fix it but I need the ticker to resi

[2021-11-09 07:18] i3web commented on #33
I have the same problem。

[2021-11-10 14:05] rajgohel opened #34 "react-ticker not rendering data untill component height is not changed."
react-ticker not rendering data untill component height is not changed.
Kindly check below screenshots.

Before resize component
![TickerBefore](https://user-images.githubusercontent.com/42000751/141127258-7ddc83db-6c7e-4563-892e-b1aa9b3260bf.png)
After resize component
![TickerAfter](https://user-images.githubusercontent.com/42000751/141127277-01c47ee3-0252-470f-8dda-5ca34d5c3a08.png)

[2021-11-11 07:17] rajgohel commented on #34
I have whole component after data retrieved before that i have loaded partial component now it is working as aspected.

[2021-11-11 07:17] #34 closed

[2021-11-24 20:58] codyscott1 commented on #33
@AndreasFaust I have a fix for this. I can add a PR if you can give me access please.

if you would rather add it I think changing line 4 in `getHighest.js` from
```  if (el.rect.height > highest) {```
to
```  if (el.rect && el.rect.height > highest) {```
would do the trick

[2021-11-24 21:29] codyscott1 commented on #33
resolved in https://github.com/AndreasFaust/react-ticker/pull/35

[2021-11-24 22:41] #33 closed

[2021-11-24 23:05] AndreasFaust commented on #31
I just release version `1.3.0` which contains the `onNext` and `onFinish` methods.

[2021-11-24 23:05] #31 closed

[2021-12-05 07:09] EvilBozkurt opened #41 "Is there any way to use it with React 17?"
Is there any way to use it with React 17.0.2v ? Is it me because I'm a beginner or is it not possible to use it?

[2021-12-07 01:29] ryangall7 commented on #2
ya same here, working in gatsby 4 and react 17. It will intermitantly start working on every resize event.

[2021-12-19 18:50] blakejoy commented on #41
Just `npm install react-ticker --force`. Documentation mentions it has no dependencies besides React 16+.

[2021-12-27 08:37] gk-git commented on #41
What you need to do is to change the peer dependencies of the react-ticker package to the following.

[code]

I have just created a pull request, soon it will get merged to the main if there wasn't any problem with the changed configuration

[2021-12-29 13:10] AndreasFaust commented on #41
Fixed with version 1.3.1.

[2021-12-29 13:10] #41 closed

[2022-02-07 11:33] laurencefass opened #47 "callbacks onNext and onFinish dont seem to be firing."
I created a sandbox based on your own. I have added the callbacks but they dont seem to be firing,

https://codesandbox.io/s/react-ticker-no-callbacks-n7i0t

Also not really sure of the purpose of onFinish as it doesnt offer any arguments.

Thanks

[2022-02-23 21:37] w4t3r-45 commented on #19
the same issue please is there any solution ?

[2022-02-23 21:43] w4t3r-45 opened #50 "Sticky item when using direction="toRight""
when i use direction="toRight" there will be a sticky part of my content on the left please is there any fix for that , the same issue is reported in #19

[2022-03-09 07:43] scottie opened #55 "Only loads when page resolution is changes"
Something odd is happening , this component only loads when the page is made small from big or made big from small.
Thoughts ? I have tested this on 2 different applications and confirm both times this is the case.

[2022-03-16 09:30] scottie commented on #55
No, it is a bug with the software package I had to move on it is clear this is no longer maintained.

[2022-04-07 20:56] premtemp1 opened #56 "Ticker only display when I resize the browser"
Hello,
Thanks for ticker but It only works when I manually resize the window.. Can you please let me know how to fix it

[code]

[2022-04-07 21:01] premtemp1 commented on #55
@scottie
did you use a different package?. I am having the same issue

[2022-04-07 21:03] premtemp1 commented on #34
@rajgohel
I know this is an old issue but I am having similar problem. The widget only shows if the window is resize. Did you find a solution?

[2022-04-13 13:02] kstoklosa opened #59 "[BUG] Ticker speeds up only on Safari after hovering multiple times on parent conatiner"
I have the `Ticker` component wrapped with some div (`Container`), and I'm detecting onHover actions with `mouseover` and `mouseout` event listeners. If someone hovers over the Ticker, I want it to stop moving.

Everything works perfectly fine on various browsers, but on Safari I'm getting this weird bug - after repetitive hovering/not hovering element, Ticker component increases its speed (and so

[2022-05-02 10:25] yairyakobson opened #60 "React 18 compatibility"
I believe that the current version (1.3.2) is not compatible with react 18.1

This is what it shows in the console:
PS directory> npm i react-ticker
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: tiktokclone@0.1.0
npm ERR! Found: react@18.1.0
npm ERR! node_modules/react
npm ERR!   react@"^18.1.0" from the root project

[2022-05-03 18:27] Isrealsix commented on #60
Faced same problem, I think for now the only solution is to use react 17 (

[2022-05-04 16:34] mariukhin commented on #60
@yair2000 @Isrealsix try to use react@18.0.0 version. It works correct for me.

[2022-05-04 16:38] mariukhin commented on #47
@laurencefass because your data inside Ticker callback is infinite. There is no any final value after which `onFinish` and `onNext` callbacks will be called.
For example: create an array of 10 elements and render iе inside `Ticker` element callback using `map`

[2022-05-04 16:42] Isrealsix commented on #60
@mariukhin did you use an older version of react-ticker? Or any workaround?

[2022-05-04 16:45] yairyakobson commented on #60
Yes, I tried an older version, but from what I understood, each version is compatible with a different version of React

[2022-05-04 16:45] yairyakobson commented on #60
Tried it. It didn't work

[2022-05-04 16:57] Isrealsix commented on #60
@yair2000 run "npm config set legacy-peer-deps true" and install again, it should install perfectly

[2022-05-04 17:09] mariukhin commented on #60
@yair2000 I installed react-ticker@1.3.2 version using yarn package manager

[2022-05-13 06:49] ghost opened #61 "Crash on render"
Hello,

I want to use your Component in a project.

But when I want to use it, it tells me that I have reach Maximum update. It happend only when I use your Component and I check render without your library (only 2 render).

Errors :
[code]

Code :
[code]
Package.json :

[code]

Thanks for your help ! ^^

[2022-05-14 08:40] CruiseDevice commented on #61
@qlaffont-flexper were you able to solve this?

[2022-05-14 08:49] qlaffont commented on #61
Unfortunately no. Finally i remove the library :/

[2022-05-27 19:34] reedislost commented on #61
anyone find a solution to this?

[2022-07-04 22:00] Cookiesale commented on #2
I'm struggling with this 0 issue as well.
All parents are 100%. The simulated refresh works on localhost, but does not work when hosted on a server.

I'd do what Kaneha suggested, but I'm not familiar with manually installation.

Surely there must be a solution

[2022-07-25 16:25] JoolianGarcia commented on #61
@qlaffont did you find an alternative that works with next?

[2022-07-26 05:42] qlaffont commented on #61
Finally I used a CSS ticker :

[code]

[code]

[2022-08-01 00:13] hongweitang commented on #60
Run your install with the flag `-legacy-peer-deps`. It uses peerDependencies installation behavior from earlier npm versions. Npm v7 and higher installs peerDependencies by default and it causes the issue we have in the case here.

But I hope we don't need to have this flag soon since a pull requests was issued to fix that.

[2022-08-01 00:52] hongweitang commented on #61
FYI I had exactly the same issue on my Next.js build so I swapped it with this package [react-fast-marquee](https://github.com/justin-chu/react-fast-marquee). Works well and the code markup is much cleaner.

I hope that helps somebody else having issues here.

[2022-08-02 12:11] JoolianGarcia commented on #61
I ended up doing the same, works great.

[2022-08-07 02:49] scottie commented on #56
Same issue here can confirm !

[2022-08-07 03:13] scottie commented on #55
Same issue here, developer is MIA lots of other packages on NPM to replace this broken one.

[2022-08-11 17:52] cyntler commented on #61
@JoolianGarcia @hongweitang @qlaffont @CruiseDevice @reedislost It looks like this library is not working with React 18 at the moment. I found a simple solution and I created a library to make it working: https://github.com/cyntler/render-with-react17.

You can install the library with `npm i render-with-react17` and then use it in this way:

[code]

[2022-08-19 14:35] melih10 commented on #61
@cyntler Your. solution is not working. Because Ticker can't be loaded. It gives Ticker error.

[2022-08-19 14:51] cyntler commented on #61
@melih10 Can you provide more informations about error and show your code?

[2022-09-30 13:26] mxsxs2 commented on #60
A CI friendly workaround is to add this to you package.json:
[code]

This overrides the react and react-dom versions for react-ticker.

[2022-10-06 09:18] nicoladj77 opened #64 "When using chain with dynamic elements, the first element overlaps with the last element"
Seen in the image below
[code]
![image](https://user-images.githubusercontent.com/333069/194275365-8117a7dd-9000-4a55-a57f-1e9b6e4c41a0.png)

[2022-10-11 21:46] jonah2xm opened #65 "Headline 1 is fixed and headlines stops in 6"
react ticker is not working in the simple ticker function from npmjs

the code :

function App() {
  return (
    <Ticker>
      {({ index }) => (
        <>
          This is the Headline of element #{index}!
          <img src="www.my-image-source.com/" alt="" />
        </>
      )}
    </Ticker>
  );
}

results:
![Screenshot from 2022-10-11 22-38-13](https://user-images.githubusercontent.com/6